* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px auto;
    background-color: #1F1F1F !important;
    color: #C0BEC0b0 !important;
    font-family: 'Poppins', 'Roboto', sans-serif !important;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    body {
        font-size: 14px;
        padding: 0 30px;
    }
    
    .container {
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }
}

h2 {
    color: #f5f3f5b0 !important;
}

@media screen and (max-width: 576px) {
    iframe {
        width: 100%!important;
        height: auto!important;
    }
}


/* Header navbar: menus and contact links */

    header {
        background-color: #1F1F1FEB;
        width: 100%;
        min-width: 320px;
        height: 40px;
        position: fixed;
        z-index: 10;
        list-style: none;
        top: 0;
        padding-top: 10px;
    }

    footer {
        z-index: 10;
        background-color: #1F1F1FEB;
        width: 100%;
        height: 40px;
        position: fixed;
        bottom: 0;
        padding-top: 10px;
        text-align: right;
    }

    footer li, footer li a {
        text-decoration: none;
        color: #ffffff;
    }

    header ul {
        text-align: left;
    }

    ul {
        margin: 10px 10px 0 5px;
    }

    li {
        display: inline-block;
        text-align: center;
        margin-right: 20px;
    }

    header li a {
        position: relative;
        text-decoration: none;
        color: #f5f3f5b0;
        font-weight: 500;
        overflow: hidden;
    }

    header li a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.5px;
        bottom: 0;
        left: 50%;
        background: #C0BEC0b0;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: transform .3s;
    }

    header li a:hover::before {
        transform: translateX(-50%) scaleX(1);
    }

    footer li a:hover {
        color: #fff;
        filter: drop-shadow(0 0 1rem #fff)
    }

    header li a:hover {
        color: #C0BEC0b0;
        filter: drop-shadow(0 0 1rem #ffffff6d)
    }

/* projects.html */

    .container {
        margin: 60px;
        width: auto;
        text-align: left;
    }

    #projectVideo {
        opacity: 0.8;
        filter: drop-shadow(0 0 0.2rem #C0BEC0)
    }